* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 400px) {
  .container {
    height: 100vh;
    padding: 0;
    justify-content: center;
  }
}
.container .container__logo {
  padding: 40px 0;
}
.container .container__logo img {
  max-width: 100%;
}
@media (min-width: 400px) {
  .container .container__logo {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 50px;
    margin-bottom: 30px;
  }
  .container .container__logo img {
    width: 100%;
  }
}

.app {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px 25px 0 0;
  padding: 20px 40px;
}
@media (min-width: 400px) {
  .app {
    width: 760px;
    display: flex;
    gap: 30px;
    padding: 10px 40px 30px 40px;
    border-radius: 25px;
  }
  .app .app-div {
    width: 50%;
  }
}
.app .app__bill {
  margin: 8px 0;
  padding: 15px 0;
}
@media (min-width: 400px) {
  .app .app__bill {
    margin-bottom: 20px;
  }
}
.app .app__tip-container {
  margin: 8px 0;
}
@media (min-width: 400px) {
  .app .app__tip-container {
    margin-bottom: 42px;
  }
}
.app .app__tip-container .select-tip-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media (min-width: 400px) {
  .app .app__tip-container .select-tip-container {
    margin-top: 15px;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    gap: 10px;
  }
}
.app .app__tip-container .select-tip {
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  margin: 7px;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  padding: 5px 0;
}
@media (min-width: 400px) {
  .app .app__tip-container .select-tip {
    font-size: 18px;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
  }
}
.app .app__tip-container .selected {
  background-color: hsl(172.6, 61.34%, 76.67%);
  color: hsl(183, 100%, 15%);
}
.app .app__tip-container #custom-tip {
  border: 2px solid white;
  font-family: "Space Mono", monospace;
  color: hsl(186, 14%, 43%);
  border: none;
  padding: 6px;
  width: 92%;
  background-color: hsl(202.5, 50%, 96.86%);
  font-weight: 700;
  text-align: right;
}
@media (min-width: 400px) {
  .app .app__tip-container #custom-tip {
    width: 100%;
  }
}
.app .app__tip-container #custom-tip:focus {
  outline: 2px solid hsl(172.6, 61.34%, 76.67%);
}
.app .app__total-bill {
  border-radius: 10px;
  margin-top: 20px;
  background-color: hsl(183, 100%, 15%);
  color: white;
  padding: 15px;
  font-size: 30px;
}
.app .app__total-bill h4 {
  font-size: 15px;
}
.app .app__total-bill p {
  font-size: 12px;
  color: hsl(184, 14%, 56%);
}
@media (min-width: 400px) {
  .app .app__total-bill {
    padding: 35px 30px 30px 30px;
  }
}
.app .app__total-bill .total-bill-comp {
  padding-top: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 400px) {
  .app .app__total-bill .total-bill-comp {
    align-items: center;
    margin-bottom: 20px;
  }
}
.app .app__total-bill .total-bill-amount {
  color: hsl(172, 67%, 45%);
}
@media (min-width: 400px) {
  .app .app__total-bill .total-bill-amount {
    font-size: 40px;
  }
}
.app .app__total-bill button {
  width: 100%;
  padding: 5px;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
  font-size: 15px;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  border: none;
  border-radius: 5px;
}
@media (min-width: 400px) {
  .app .app__total-bill button {
    padding: 10px;
    font-size: 15px;
    margin-top: 65px;
  }
}
.app .app__total-bill button:hover {
  background-color: hsl(172.6, 61.34%, 76.67%);
}

.input-type {
  background-color: hsl(202.5, 50%, 96.86%);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
}
.input-type img {
  width: 12px;
}
.input-type input[type=text] {
  width: 90%;
  background-color: hsl(202.5, 50%, 96.86%);
  border: none;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  text-align: right;
}
.input-type input:focus {
  outline: none;
}
@media (min-width: 400px) {
  .input-type {
    padding: 7px 15px;
  }
  .input-type img {
    width: 10px;
  }
  .input-type input[type=text] {
    font-size: 18px;
  }
}

.custom-border {
  border: 2px solid hsl(172.6, 61.34%, 76.67%);
}

#people-error {
  color: red;
}

.error-border {
  border: 2px solid red;
}

.heading-name {
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 15px;
}/*# sourceMappingURL=main.css.map */